@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  width: 100%;
}

html body {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#8c7eb6), to(#7c73fff6));
  background: linear-gradient(to top, #8c7eb6, #7c73fff6);
}

html h1 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  padding-top: 30px;
}

html h2 {
  color: #fff;
}

html .parrafo-description {
  color: #fff;
  text-align: center;
}

html main {
  overflow-y: hidden;
  overflow-x: hidden;
}

@media screen and (max-width: 140px) {
  .parrafo {
    display: none;
  }
  .banner-description h2 {
    font-size: 1.4rem;
  }
  .banner-description p {
    font-size: 1.2rem;
  }
  .banner-description-pages h2 {
    font-size: 1.4rem;
  }
  .banner-description-pages p {
    font-size: 1.2rem;
  }
  .efecto-drop:hover {
    background: #7c73fff6;
  }
  .image-texto {
    margin-top: 5px;
    font-size: 1.2rem;
  }
  .parrafo-description {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  .tarjetas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tarjetas .card-perfil {
    width: 75px;
    margin: 0 auto;
    background-color: #fff;
  }
  .tarjetas .image-card {
    width: 70px;
    height: 45px;
  }
  .tarjetas .parrafo-cards {
    font-size: 1.2rem;
    padding: 4px;
  }
  .info-terminos {
    font-size: 1.4rem;
  }
  .tarjetas-term {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tarjetas-term .card-perfil-term {
    width: 75px;
    margin: 0 auto;
    background-color: #fff;
  }
  .tarjetas-term .image-card-term {
    width: 70px;
    height: 45px;
  }
  .tarjetas-term .parrafo-cards-term {
    font-size: 1.4rem;
    padding: 4px;
  }
  .tarjetas-term .card-button-term {
    width: 45px;
  }
  .visitanos {
    font-size: 1.2rem;
  }
  .formulario-titulo {
    font-size: 1.8rem;
  }
  .formulario-input {
    font-size: 1.2rem;
  }
  .formulario-cta {
    font-size: 1.4rem;
  }
  .whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 25px;
    right: 25px;
    border-radius: 50px;
    background: #20c555;
    color: #fff;
  }
  .whatsapp:hover {
    color: #20c555;
    background: #fff;
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logos .logo-uno {
    margin: 0 auto;
    padding: 5px;
  }
  .pie-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1px 0px 0px 10px;
  }
  .font-pie {
    font-size: 1rem;
  }
  .separacion-links {
    padding: 1px 0px;
  }
  .titulo-pagina {
    font-size: 1.6rem;
  }
  .titulo-estilos {
    font-size: 1.2rem;
  }
  .tarjetas-paginas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tarjetas-paginas .imagen-tarjetas {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .tarjetas-paginas .parrafo-tarjetas {
    font-size: 1.3rem;
  }
  .titulos-acordion {
    font-size: 1.3rem;
  }
  .acordion-parrafo {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 141px) and (max-width: 309px) {
  .parrafo {
    font-size: 1.6rem;
  }
  .banner-description h2 {
    font-size: 2.5rem;
  }
  .banner-description p {
    font-size: 2rem;
  }
  .banner-description-pages h2 {
    font-size: 2.5rem;
  }
  .banner-description-pages p {
    font-size: 2rem;
  }
  .titulo-pagina {
    font-size: 1.8rem;
  }
  .efecto-drop:hover {
    background: #7c73fff6;
  }
  .image-texto {
    font-size: 1.4rem;
  }
  .parrafo-description {
    font-size: 1.4rem;
  }
  .tarjetas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tarjetas .card-perfil {
    width: 100px;
    margin: 0 auto;
  }
  .tarjetas .image-card {
    width: 90px;
    height: 60px;
  }
  .tarjetas .parrafo-cards {
    font-size: 1.4rem;
    padding: 6px;
  }
  .info-terminos {
    font-size: 1.8rem;
  }
  .tarjetas-term {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tarjetas-term .card-perfil-term {
    width: 100px;
    margin: 0 auto;
  }
  .tarjetas-term .image-card-term {
    width: 90px;
    height: 60px;
  }
  .tarjetas-term .card-button-term {
    width: 45px;
  }
  .tarjetas-term .parrafo-cards-term {
    font-size: 1.6rem;
    padding: 6px;
  }
  .visitanos {
    font-size: 1.4rem;
  }
  .formulario-titulo {
    font-size: 2.2rem;
  }
  .formulario-input {
    font-size: 1.4rem;
  }
  .formulario-cta {
    font-size: 1.5rem;
  }
  .whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 25px;
    right: 25px;
    border-radius: 50px;
    background: #20c555;
    color: #fff;
  }
  .whatsapp:hover {
    color: #20c555;
    background: #fff;
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logos .logo-uno {
    margin: 0 auto;
    padding: 5px;
  }
  .pie-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px 0px 20px;
  }
  .font-pie {
    font-size: 1.4rem;
  }
  .separacion-links {
    padding: 20px 0px;
  }
  .titulo-pagina {
    font-size: 2rem;
  }
  .titulo-estilos {
    font-size: 2rem;
  }
  .tarjetas-paginas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tarjetas-paginas .imagen-tarjetas {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .tarjetas-paginas .parrafo-tarjetas {
    font-size: 1.6rem;
  }
  .titulos-acordion {
    font-size: 1.6rem;
  }
  .acordion-parrafo {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 310px) and (max-width: 480px) {
  .efecto-drop:hover {
    background: #7c73fff6;
  }
  .parrafo {
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: "Roboto Slab", serif;
  }
  .banner-description h2 {
    font-size: 2.8rem;
  }
  .banner-description p {
    font-size: 2.2rem;
  }
  .banner-description-pages h2 {
    font-size: 2.8rem;
  }
  .banner-description-pages p {
    font-size: 2.2rem;
  }
  .image-texto {
    font-size: 1.6rem;
  }
  .padre-imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .padre-imagenes .hijos-imagenes {
    margin: 0 auto;
  }
  .padre-imagenes .separacion {
    margin: 20px 20px 0px 20px;
  }
  .parrafo-description {
    font-size: 1.6rem;
  }
  .tarjetas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tarjetas .card-perfil {
    margin: 0 auto;
  }
  .tarjetas .parrafo-cards {
    font-size: 1.6rem;
    padding: 8px;
  }
  .info-terminos {
    font-size: 2rem;
  }
  .tarjetas-term {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tarjetas-term .card-perfil-term {
    margin: 0 auto;
  }
  .tarjetas-term .card-button-term {
    width: 60px;
  }
  .tarjetas-term .parrafo-cards-term {
    font-size: 1.8rem;
    padding: 8px;
  }
  .visitanos {
    font-size: 1.6rem;
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logos .logo-uno {
    margin: 0 auto;
    padding: 5px;
  }
  .whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 25px;
    right: 25px;
    border-radius: 50px;
    background: #20c555;
    color: #fff;
  }
  .whatsapp:hover {
    color: #20c555;
    background: #fff;
  }
  .formulario {
    padding: 4rem 1rem;
  }
  .formulario-titulo {
    font-size: 2.5rem;
  }
  .formulario-input {
    font-size: 1.4rem;
  }
  .formulario-cta {
    font-size: 1.6rem;
  }
  .pie-links {
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px 0px 20px;
  }
  .font-pie {
    font-size: 1.4rem;
  }
  .separacion-links {
    padding: 20px 0px;
  }
  .titulo-pagina {
    font-size: 2.2rem;
  }
  .titulo-estilos {
    font-size: 2.2rem;
  }
  .tarjetas-paginas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .tarjetas-paginas .imagen-tarjetas {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .tarjetas-paginas .parrafo-tarjetas {
    font-size: 1.8rem;
  }
  .titulos-acordion {
    font-size: 1.8rem;
  }
  .acordion-parrafo {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .efecto-drop:hover {
    background: #7c73fff6;
  }
  .parrafo {
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: "Roboto Slab", serif;
  }
  .banner-description h2 {
    font-size: 3rem;
  }
  .banner-description p {
    font-size: 2.5rem;
  }
  .banner-description-pages h2 {
    font-size: 3rem;
  }
  .banner-description-pages p {
    font-size: 2.5rem;
  }
  .image-texto {
    font-size: 1.8rem;
  }
  .padre-imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .padre-imagenes .hijos-imagenes {
    margin: 0 auto;
  }
  .parrafo-description {
    font-size: 1.8rem;
  }
  .tarjetas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tarjetas .card-perfil {
    margin: 0 auto;
  }
  .tarjetas .parrafo-cards {
    font-size: 1.8rem;
    padding: 8px;
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info-terminos {
    font-size: 2.2rem;
  }
  .tarjetas-term {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tarjetas-term .card-perfil-term {
    margin: 0 auto;
  }
  .tarjetas-term .parrafo-cards-term {
    font-size: 2rem;
    padding: 8px;
  }
  .tarjetas-term .card-button-term {
    width: 100px;
  }
  .formulario-titulo {
    font-size: 3rem;
  }
  .formulario-input {
    font-size: 1.6rem;
  }
  .formulario-cta {
    font-size: 1.8rem;
  }
  .visitanos {
    font-size: 1.8rem;
  }
  .whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 25px;
    right: 25px;
    border-radius: 50px;
    background: #20c555;
    color: #fff;
  }
  .whatsapp:hover {
    color: #20c555;
    background: #fff;
  }
  .titulo-pagina {
    font-size: 3rem;
  }
  .titulo-estilos {
    font-size: 3rem;
  }
  .pie-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px;
  }
  .font-pie {
    font-size: 1.6rem;
  }
  .tarjetas-paginas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .tarjetas-paginas .imagen-tarjetas {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .tarjetas-paginas .parrafo-tarjetas {
    font-size: 2.2rem;
  }
  .titulos-acordion {
    font-size: 2.2rem;
  }
  .acordion-parrafo {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .efecto-drop:hover {
    background: #7c73fff6;
  }
  .efecto {
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .efecto:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .parrafo {
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Roboto Slab", serif;
  }
  .banner-description h2 {
    font-size: 3.2rem;
  }
  .banner-description p {
    font-size: 2.8rem;
  }
  .banner-description-pages h2 {
    font-size: 3.2rem;
  }
  .banner-description-pages p {
    font-size: 2.8rem;
  }
  .image-texto {
    font-size: 2rem;
  }
  .padre-imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .padre-imagenes .hijos-imagenes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .padre-imagenes .separacion {
    margin: 100px;
  }
  .parrafo-description {
    font-size: 2rem;
  }
  .formulario-titulo {
    font-size: 3.8rem;
  }
  .formulario-input {
    font-size: 1.6rem;
  }
  .formulario-cta {
    font-size: 2rem;
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tarjetas {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .tarjetas .card-perfil {
    background-color: #fff;
    width: 310px;
    padding: 20px;
    border: solid rgba(64, 224, 208, 0) 2px;
    border-radius: 10px;
  }
  .tarjetas .image-card {
    width: 200px;
    height: 100px;
    -webkit-box-shadow: 2px 2px 5px #b8b4b4;
            box-shadow: 2px 2px 5px #b8b4b4;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .tarjetas .card-nombre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .tarjetas .parrafo-cards {
    font-size: 2rem;
    padding: 10px;
  }
  .info-terminos {
    font-size: 2.5rem;
  }
  .tarjetas-term {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .tarjetas-term .card-perfil-term {
    background-color: #fff;
    width: 310px;
    padding: 20px;
    border: solid rgba(64, 224, 208, 0) 2px;
    border-radius: 10px;
  }
  .tarjetas-term .image-card-term {
    width: 200px;
    height: 100px;
    -webkit-box-shadow: 2px 2px 5px #b8b4b4;
            box-shadow: 2px 2px 5px #b8b4b4;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .tarjetas-term .card-nombre-term {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .tarjetas-term .parrafo-cards-term {
    font-size: 2.2rem;
    padding: 10px;
  }
  .tarjetas-term .enlace-term {
    font-size: 1.8rem;
  }
  .tarjetas-term .card-button-term {
    width: 100px;
  }
  .visitanos {
    font-size: 2rem;
  }
  .whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 25px;
    right: 25px;
    border-radius: 50px;
    background: #20c555;
    color: #fff;
  }
  .whatsapp:hover {
    color: #20c555;
    background: #fff;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .titulo-pagina {
    font-size: 3.4rem;
  }
  .titulo-estilos {
    font-size: 3.4rem;
  }
  .pie-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px;
  }
  .font-pie {
    font-size: 1.6rem;
  }
  .imagen-tarjetas {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
  }
  .parrafo-tarjetas {
    font-size: 2.5rem;
  }
  .titulos-acordion {
    font-size: 2.5rem;
  }
  .acordion-parrafo {
    font-size: 2.2rem;
    padding: 20px;
  }
}

header {
  background-color: #4740b3;
}

header .inicio-logo {
  width: 60px;
}

header .tamaño-fuente {
  font-size: 1.6rem;
}

header .dropdown:hover .dropdown-menu {
  display: block;
}

header .fondo {
  background-color: #a495d1;
}

.pagina {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.pagina .banner {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background: center fixed url("../src/img/carouselauto.jpg");
}

.pagina .banner .banner-description {
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 1000px;
  display: block;
  margin: auto;
}

.pagina .banner-description h2 {
  font-weight: 600;
  text-align: center;
}

.pagina .banner-description p {
  margin: 20px 0;
  text-align: center;
}

.pagina .redondeado {
  border-radius: 15px;
}

.pagina .fondito {
  background-color: rgba(0, 0, 0, 0.5);
}

.pagina .image-texto {
  color: #fff;
  font-style: oblique;
  text-align: center;
}

.pagina .imagenes {
  border-radius: 5px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.pagina .imagenes:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.pagina .titulo-pagina {
  color: #fff;
  text-align: center;
  font-family: "Roboto Slab", serif;
  padding-top: 30px;
}

.pagina .tarjetas {
  background-color: rgba(255, 255, 255, 0);
}

.pagina .tarjetas .card-perfil {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid rgba(64, 224, 208, 0) 2px;
  border-radius: 10px;
}

.pagina .tarjetas .card-perfil:hover {
  border: solid #4740b3 2px;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.pagina .tarjetas .image-card {
  -webkit-box-shadow: 2px 2px 5px #b8b4b4;
          box-shadow: 2px 2px 5px #b8b4b4;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.pagina .tarjetas .card-nombre {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagina .tarjetas .parrafo-cards {
  color: gray;
  text-align: center;
}

.pagina .contactar-section {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.pagina .contactar-section .visitanos {
  font-family: "Poppins", sans-serif;
  padding-top: 40px;
  text-align: center;
}

.pagina .contactar-section .visita {
  margin: 40px 0px;
}

.pagina .contactar-section .mapita {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.pagina .contactar-section .mapita:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.pagina .contactar-section .map-iframe {
  width: 60%;
  border-radius: 15px;
}

.pagina .contactar-section .contacto-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pagina .contactar-section .inicio-formulario {
  margin-top: 70px;
}

.pagina .contactar-section .formulario {
  background-color: #fff;
  width: 90%;
  margin: auto;
  max-width: 400px;
  border-radius: 12px;
  padding: 42px 18px;
}

.pagina .contactar-section .formulario-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 12px;
  grid-auto-columns: 100%;
}

.pagina .contactar-section .formulario-titulo {
  color: #4740b3;
  text-align: center;
  margin-bottom: 10px;
}

.pagina .contactar-section .formulario-input {
  padding: 10px 16px;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 5px;
}

.pagina .contactar-section input[type=number]::-webkit-inner-spin-button,
.pagina .contactar-section input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagina .contactar-section input[type=number] {
  -moz-appearance: textfield;
}

.pagina .contactar-section .formulario-input--message {
  resize: none;
  padding: 20px 12px;
  margin-bottom: 8px;
}

.pagina .contactar-section .formulario-cta {
  background-color: #4740b3;
  color: #fff;
  border: none;
  font-weight: 300;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
}

.pagina .contactar-section .formulario-cta:hover {
  background-color: rgba(71, 64, 179, 0.7);
}

.pagina .contactar-section .logotipo {
  width: 150px;
  background-color: #fff;
}

.pagina .contactar-section .logotipo-dos {
  width: 100px;
  background-color: #fff;
}

.pagina .contactar-section .logotipo-tres {
  width: 150px;
  background-color: #fff;
}

.pie {
  background-color: #4740b3;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}

.pie .instag {
  color: #fff;
}

.pie .links-pie li {
  color: #fff;
  padding: 15px;
}

.paginas-secundarias {
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid #000;
}

.paginas-secundarias .banner-uno, .paginas-secundarias .banner-dos, .paginas-secundarias .banner-tres, .paginas-secundarias .banner-cuatro, .paginas-secundarias .banner-cinco, .paginas-secundarias .banner-seis {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.paginas-secundarias .banner-uno .banner-description-pages, .paginas-secundarias .banner-dos .banner-description-pages, .paginas-secundarias .banner-tres .banner-description-pages, .paginas-secundarias .banner-cuatro .banner-description-pages, .paginas-secundarias .banner-cinco .banner-description-pages, .paginas-secundarias .banner-seis .banner-description-pages {
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 1000px;
  display: block;
  margin: auto;
}

.paginas-secundarias .banner-uno .banner-description-pages h2, .paginas-secundarias .banner-dos .banner-description-pages h2, .paginas-secundarias .banner-tres .banner-description-pages h2, .paginas-secundarias .banner-cuatro .banner-description-pages h2, .paginas-secundarias .banner-cinco .banner-description-pages h2, .paginas-secundarias .banner-seis .banner-description-pages h2 {
  font-weight: 600;
  text-align: center;
}

.paginas-secundarias .banner-uno .banner-description-pages p, .paginas-secundarias .banner-dos .banner-description-pages p, .paginas-secundarias .banner-tres .banner-description-pages p, .paginas-secundarias .banner-cuatro .banner-description-pages p, .paginas-secundarias .banner-cinco .banner-description-pages p, .paginas-secundarias .banner-seis .banner-description-pages p {
  margin: 20px 0;
  text-align: center;
}

.paginas-secundarias .banner-uno {
  background: center fixed url("../src/img/maquinaria-agricola.jpg");
}

.paginas-secundarias .banner-dos {
  background: center fixed url("../src/img/preguntas.jpg");
}

.paginas-secundarias .banner-tres {
  background: center fixed url("../src/img/lugar-trabajo.jpg");
}

.paginas-secundarias .banner-cuatro {
  background: center fixed url("../src/img/gente.jpg");
}

.paginas-secundarias .banner-cinco {
  background: center fixed url("../src/img/sobre.jpg");
}

.paginas-secundarias .banner-seis {
  background: center fixed url("../src/img/terminos.jpg");
}

.paginas-secundarias .titulo-estilos {
  padding: 10px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  border: 2px solid rgba(0, 0, 255, 0);
}

.paginas-secundarias .titulo-estilos:hover {
  border: 2px solid #4740b3;
}

.paginas-secundarias .info-terminos {
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #fff;
}

.paginas-secundarias .tarjetas-term {
  background-color: rgba(255, 255, 255, 0);
}

.paginas-secundarias .tarjetas-term .card-perfil-term {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid rgba(64, 224, 208, 0) 2px;
  border-radius: 10px;
}

.paginas-secundarias .tarjetas-term .card-perfil-term:hover {
  border: solid #4740b3 2px;
}

.paginas-secundarias .tarjetas-term .image-card-term {
  -webkit-box-shadow: 2px 2px 5px #b8b4b4;
          box-shadow: 2px 2px 5px #b8b4b4;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.paginas-secundarias .tarjetas-term .card-nombre-term {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginas-secundarias .tarjetas-term .parrafo-cards-term {
  text-align: center;
  color: gray;
}

.paginas-secundarias .tarjetas-term .card-button-term {
  margin: 0 auto;
  background-color: #4740b3;
  border: none;
  border-radius: 5px;
}

.paginas-secundarias .tarjetas-term .card-button-term .enlace-term {
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.paginas-secundarias .tarjetas-section {
  margin-top: 20px;
}

.paginas-secundarias .tarjetas-section .tarjetas-paginas {
  margin: 0 auto;
  border-radius: 5px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paginas-secundarias .tarjetas-section .parrafo-tarjetas {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  word-spacing: 3px;
}

.paginas-secundarias .tarjetas-section .tarjetas-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.paginas-secundarias .acordion-principal {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.paginas-secundarias .acordion-principal .titulos-acordion {
  color: #4740b3;
}
/*# sourceMappingURL=style.css.map */