@charset "UTF-8";
.titulos, .titulos-corp, .titulos-sob {
  font-size: 4rem;
  padding: 40px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  width: 100%;
}

html body {
  width: 100%;
}

html h1 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  padding-top: 30px;
}

html h2 {
  color: #fff;
}

html .parrafodescription {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

html main {
  overflow-y: hidden;
  overflow-x: hidden;
}

@media screen and (max-width: 480px) {
  body {
    background: -webkit-gradient(linear, left bottom, left top, from(#bdb2dd), to(#aea9fff6));
    background: linear-gradient(to top, #bdb2dd, #aea9fff6);
  }
  .padre-imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .padre-imagenes .hijos-imagenes {
    margin: 0 auto;
  }
  .padre-imagenes .separacion {
    margin: 20px;
  }
  .whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 25px;
    right: 25px;
    border-radius: 50px;
    background: #20c555;
    color: #fff;
  }
  .pie-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px 0px 20px;
  }
  .separacion-links {
    padding: 20px 0px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  body {
    background: -webkit-gradient(linear, left bottom, left top, from(#a495d1), to(#9088fff6));
    background: linear-gradient(to top, #a495d1, #9088fff6);
  }
  .padre-imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .padre-imagenes .hijos-imagenes {
    margin: 0 auto;
  }
  .padre-imagenes .separacion {
    margin: 50px;
  }
  .whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 25px;
    right: 25px;
    border-radius: 50px;
    background: #20c555;
    color: #fff;
  }
  .pie-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background: -webkit-gradient(linear, left bottom, left top, from(#8c7eb6), to(#7c73fff6));
    background: linear-gradient(to top, #8c7eb6, #7c73fff6);
  }
  .padre-imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .padre-imagenes .hijos-imagenes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .padre-imagenes .separacion {
    margin: 100px;
  }
  .whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 25px;
    right: 25px;
    border-radius: 50px;
    background: #20c555;
    color: #fff;
  }
  .whatsapp:hover {
    color: #20c555;
    background: #fff;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .pie-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px;
  }
}

header {
  background-color: #4740b3;
}

header .redondeado {
  border-radius: 20px;
}

header .inicio-logo {
  border-radius: 50%;
  width: 60px;
}

header .parrafo {
  font-variant: small-caps;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
}

header .tamaño-fuente {
  font-size: 2rem;
}

header .dropdown:hover .dropdown-menu {
  display: block;
}

header .efecto:hover {
  background: #9088fff6;
}

header .fondo {
  background-color: #8c7eb6;
}

.pagina {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.pagina .fondito {
  background-color: rgba(0, 0, 0, 0.5);
}

.pagina .image-texto {
  color: #fff;
  font-size: 2rem;
  font-style: oblique;
}

.pagina .imagenes {
  border-radius: 5px;
}

.pagina .titulopaginas {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
  padding-top: 30px;
}

.contactar-section {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.contactar-section .visitanos {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  padding-top: 40px;
}

.contactar-section .mapita {
  padding-bottom: 40px;
}

@-webkit-keyframes mapa {
  0% {
    border-radius: 10px;
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes mapa {
  0% {
    border-radius: 10px;
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.contactar-section .contactar {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.contactar-section .formulario {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}

.contactar-section .logotipo {
  width: 150px;
  background-color: #fff;
}

.contactar-section .logotipo-dos {
  width: 100px;
  background-color: #fff;
}

.pie {
  background-color: #4740b3;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}

.pie .instag {
  color: #fff;
}

.links-pie li {
  color: #fff;
  padding: 15px;
}

.titulos {
  color: #fff;
}

.titulos-corp {
  color: #fff;
}

.titulos-sob {
  color: #fff;
}

.pag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px 40px 40px;
  list-style: none;
}

.pag-list li {
  padding: 25px;
}

.pag-list-corp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px 40px 40px;
  list-style: none;
}

.pag-list-corp li {
  padding: 25px;
}

.paginas-secundarias {
  font-size: 2rem;
  background-color: #7c73fff6;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid #000;
}
/*# sourceMappingURL=style.css.map */