@import '../base/variables';
@import '../base/mixin';
@import '../base/listas';

header {
    background-color: $back-header;

    .inicio-logo {
        border-radius: 50%;
        width: 60px;
    }

    .tamaño-fuente {
        font-size: 2rem;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .efecto:hover {
        background: nth($list: $colores, $n: 7);
    }

    .fondo {
        background-color: nth($list: $colores, $n: 8);
    }
}