@import '../base/variables';
@import '../base/mixin';
@import '../base/listas';

header {
    background-color: $back-header;

    .inicio-logo {
        width: 60px;
    }

    .tamaño-fuente {
        font-size: 1.6rem;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .efecto {
        transition: all 500ms;
    }

    .efecto:hover {
        color: nth($list: $colores, $n: 7);
        transform: scale(1.1);
    }

    .fondo {
        background-color: nth($list: $colores, $n: 8);
    }
}
