@import '../base/variables';
@import '../base/maps';
@import '../base/mixin';

.redondeado {
    border-radius: 15px;
}

.titulos {
    font-size: 4rem;
    padding: 40px;
    color: #fff;
}

.titulos-corp {
    font-size: 4rem;
    padding: 40px;
    color: #fff;
    background-color: rgba($color: #fff, $alpha: 0.3);
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;

    border: 2px solid rgba(0, 0, 255, 0);

    &:hover {
        border: 2px solid blue;
    }
}

.titulos-sob {
    font-size: 4rem;
    padding: 40px;
    color: #fff;
}

.pag-list {
    @include pages (flex, column, 0 40px 40px 40px, none);

    li {
        padding: 25px;
    }
}

.pag-list-corp {
    @include pages (flex, column, 0 40px 40px 40px, none);
    
    li {
        padding: 25px;
    }
}

.paginas-secundarias {
    font-size: map-get($map: $paginas, $key: fontsize);
    background-color: map-get($map: $paginas, $key: colorback);
    
    font-family: $fuente-body;
    border-bottom: 2px solid nth($list: $colores, $n: 1);
}