@import '../base/variables';
@import '../base/maps';
@import '../base/mixin';

.titulos {
    @extend %estilo;
    color: #fff;
}

.titulos-corp {
    @extend %estilo;
    color: #fff;
}

.titulos-sob {
    @extend %estilo;
    color: #fff;
}

.pag-list {
    @include pages (flex, column, 0 40px 40px 40px, none);

    li {
        padding: 25px;
    }
}

.pag-list-corp {
    @include pages (flex, column, 0 40px 40px 40px, none);
    
    li {
        padding: 25px;
    }
}

.paginas-secundarias {
    font-size: map-get($map: $paginas, $key: fontsize);
    background-color: map-get($map: $paginas, $key: colorback);
    
    font-family: $fuente-body;
    border-bottom: 2px solid nth($list: $colores, $n: 1);
}