@import './mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    width: 100%;

    body {
        width: 100%;
    }

    h1 {
        color: $color-fuente;
        text-align: center;
        font-size: 2rem;
        font-family: $fuente-titulos;
        padding-top: 30px;
    }

    h2 {
        color: $color-fuente;
    }

    .parrafodescription {
        font-size: 2rem;
        color: $color-fuente;
        text-align: center;
    }

    main {
         overflow-y: hidden;
         overflow-x: hidden;
    }
}