// xs super
@media screen and (max-width: 140px) {
    .parrafo {
        display: none;
    }

    .banner-description h2 {
        font-size: 2rem;
    }

    .banner-description p {
        font-size: 1.4rem;
    }

    .banner-description-pages h2 {
        font-size: 2rem;
    }

    .banner-description-pages p {
        font-size: 1.4rem;
    }

    .efecto-drop:hover {
        background: nth($list: $colores, $n: 7);
    }

    .image-texto {
        margin-top: 5px;
        font-size: 1.2rem;
    }

    .parrafodescription {
        margin-top: 10px;
        font-size: 1.2rem;
    }

    .tarjetas {
        display: flex;
        flex-direction: column;

        .card-perfil {
            width: 75px;
            margin: 0 auto;
            background-color: #fff;
        }
    
        .image-card {
            width: 70px;
            height: 45px
        }

        .parrafo-cards {
            font-size: 1.2rem;
              text-align: center;
              padding: 4px;
              color: gray;
            }
    }

    .tarjetas-term {
        display: flex;
        flex-direction: column;
        
        .card-perfil-term {
            width: 75px;
            margin: 0 auto;
            background-color: #fff;
        }
    
        .image-card-term {
            width: 70px;
            height: 45px
        }
    }

    .visitanos {
        font-size: 1.2rem;
    }

    .formulario-titulo {
        font-size: 1.8rem;
    }

    .formulario-input {
        font-size: 1.2rem;
    }

    .whatsapp {
        @include wp(fixed, 40px, 40px, 25px, 25px, 50px);
        background: nth($list: $colores, $n: 3);
        color: nth($list: $colores, $n: 2);

        &:hover {
            color: nth($list: $colores, $n: 3);
            background: nth($list: $colores, $n: 2);
        }
    }

    .logos {
        display: flex;
        flex-direction: column;
        
    .logo-uno {
            margin: 0 auto;
            padding: 5px;
        }
    }

    .pie-links {
        display: flex;
        flex-direction: column;
        padding: 1px 0px 0px 10px; 
    }

    .font-pie {
        font-size: 1rem;
    }

    .separacion-links {
        padding: 1px 0px;
    }

    .titulopaginas {
        font-size: 1.6rem;
    }

    .titulo-estilos {
        font-size: 1.2rem;
    }
}

// mobile xs 
@media screen and (min-width: 141px) and (max-width: 309px) {
    .parrafo {
        font-size: 1.6rem;
    }

    .banner-description h2 {
        font-size: 2.5rem;
    }

    .banner-description p {
        font-size: 2rem;
    }

    .banner-description-pages h2 {
        font-size: 2.5rem;
    }

    .banner-description-pages p {
        font-size: 2rem;
    }

    .titulopaginas {
        font-size: 1.8rem;
    }

    .efecto-drop:hover {
        background: nth($list: $colores, $n: 7);
    }

    .image-texto {
        font-size: 1.4rem;
    }

    .parrafodescription {
        font-size: 1.4rem;
    }

    .tarjetas {
        display: flex;
        flex-direction: column;

        .card-perfil {
            width: 100px;
            margin: 0 auto;
        }
    
        .image-card {
            width: 90px;
            height: 60px
        }

        .parrafo-cards {
            font-size: 1.4rem;
              text-align: center;
              padding: 6px;
              color: gray;
            }
    }

    .tarjetas-term {
        display: flex;
        flex-direction: column;
        
        .card-perfil-term {
            width: 100px;
            margin: 0 auto;
        }
    
        .image-card-term {
            width: 90px;
            height: 60px
        }
    }

    .visitanos {
        font-size: 1.4rem;
    }

    .formulario-titulo {
        font-size: 2.2rem;
    }

    .formulario-input {
        font-size: 1.4rem;
    }

    .whatsapp {
        @include wp(fixed, 40px, 40px, 25px, 25px, 50px);
        background: nth($list: $colores, $n: 3);
        color: nth($list: $colores, $n: 2);

        &:hover {
            color: nth($list: $colores, $n: 3);
            background: nth($list: $colores, $n: 2);
        }
    }

    .logos {
        display: flex;
        flex-direction: column;
        
    .logo-uno {
            margin: 0 auto;
            padding: 5px;
        }
    }

    .pie-links {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 0px 20px; 
    }

    .font-pie {
        font-size: 1.4rem;
    }

    .separacion-links {
        padding: 20px 0px;
    }

    .titulopaginas {
        font-size: 2rem;
    }

    .titulo-estilos {
        font-size: 2rem;
    }
}

// mobile
@media screen and (min-width:310px) and (max-width: 480px) {

    .efecto-drop:hover {
        background: nth($list: $colores, $n: 7);
    }

    .parrafo {
        @include paragraph (small-caps, uppercase, 1.6rem);
        font-family: $fuente-titulos;
    }

    .banner-description h2 {
        font-size: 2.8rem;
    }

    .banner-description p {
        font-size: 2.2rem;
    }

    .banner-description-pages h2 {
        font-size: 2.8rem;
    }

    .banner-description-pages p {
        font-size: 2.2rem;
    }

    .image-texto {
        font-size: 1.6rem;
    }

    .padre-imagenes {
        display: flex;
        flex-direction: column;

        .hijos-imagenes {
            margin: 0 auto;
        }

        .separacion {
            margin: 20px;
        }
    }

    .parrafodescription {
        font-size: 1.6rem;
    }

    .tarjetas {
        display: flex;
        flex-direction: column;
        
        .card-perfil {
            margin: 0 auto;
        }

        .parrafo-cards {
            font-size: 1.6rem;
              text-align: center;
              padding: 8px;
              color: gray;
            }
    }

    .tarjetas-term {
        display: flex;
        flex-direction: column;
        
        .card-perfil-term {
            margin: 0 auto;
        }
    }

    .formulario-titulo {
        font-size: 2.8rem;
    }

    .formulario-input {
        font-size: 1.4rem;
    }

    .visitanos {
        font-size: 1.6rem;
    }

    .logos {
        display: flex;
        flex-direction: column;
        
        .logo-uno {
            margin: 0 auto;
            padding: 5px;
        }
    }

    .whatsapp {
        @include wp(fixed, 40px, 40px, 25px, 25px, 50px);
        background: nth($list: $colores, $n: 3);
        color: nth($list: $colores, $n: 2);

        &:hover {
            color: nth($list: $colores, $n: 3);
            background: nth($list: $colores, $n: 2);
        }
    }

    .formulario {
        padding: 4rem 1rem;
    }

    .formulario-titulo {
        font-size: 2.5rem;
    }

    .pie-links {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        padding: 20px 0px 0px 20px; 
    }

    .font-pie {
        font-size: 1.4rem;
    }

    .separacion-links {
        padding: 20px 0px;
    }

    .titulopaginas {
        font-size: 2.2rem;
    }

    .titulo-estilos {
        font-size: 2.2rem;
    }
}

// tablet 
@media screen and (min-width:481px) and (max-width:1023px) {

    .efecto-drop:hover {
        background: nth($list: $colores, $n: 7);
    }

    .parrafo {
            @include paragraph (small-caps, uppercase, 1.8rem);
            font-family: $fuente-titulos;
        }

        .banner-description h2 {
            font-size: 3.0rem;
        }
    
        .banner-description p {
            font-size: 2.5rem;
        }

        .banner-description-pages h2 {
            font-size: 3.0rem;
        }
    
        .banner-description-pages p {
            font-size: 2.5rem;
        }

    .image-texto {
            font-size: 1.8rem;
        }

    .padre-imagenes {
            display: flex;
            flex-direction: column;

            .hijos-imagenes {
                margin: 0 auto;
            }
        }

    .parrafodescription {
            font-size: 1.8rem;
        }

    .tarjetas {
        display: flex;
        flex-direction: column;

        .card-perfil {
            margin: 0 auto;
        }
        
        .parrafo-cards {
            font-size: 1.8rem;
              text-align: center;
              padding: 8px;
              color: gray;
            }
    }
    .logos {
            display: flex;
            justify-content: space-around;
        }

    .tarjetas-term {
        display: flex;
        flex-direction: column;
        
        .card-perfil-term {
            margin: 0 auto;
        }
    }

    .formulario-titulo {
        font-size: 3rem;
    }

    .formulario-input {
        font-size: 1.6rem;
    }

    .visitanos {
        font-size: 1.8rem;
    }
    
    .logos {
            display: flex;
            justify-content: space-around;
        }

    .whatsapp {
            @include wp(fixed, 40px, 40px, 25px, 25px, 50px);
            background: nth($list: $colores, $n: 3);
            color: nth($list: $colores, $n: 2);

            &:hover {
                color: nth($list: $colores, $n: 3);
                background: nth($list: $colores, $n: 2);
            }
    }

    .titulopaginas {
        font-size: 3rem;
    }

    .titulo-estilos {
        font-size: 3rem;
    }

    .pie-links {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        }

    .font-pie {
            font-size: 1.6rem;
        }
    }

// desktop

@media screen and (min-width: 1024px) {
    .efecto-drop {
        padding-right: 100px;

        &:hover {
            background: nth($list: $colores, $n: 7);
        }
    }

    .parrafo {
        @include paragraph (small-caps, uppercase, 2rem);
        font-family: $fuente-titulos;
    }

    .banner-description h2 {
        font-size: 3.2rem;
    }

    .banner-description p {
        font-size: 2.8rem;
    }

    .banner-description-pages h2 {
        font-size: 3.2rem;
    }

    .banner-description-pages p {
        font-size: 2.8rem;
    }

    .image-texto {
    font-size: 2rem;
    }

    .padre-imagenes {
        display: flex;
        justify-content: center;

        .hijos-imagenes {
            flex-direction: column;
            padding: 20px;
        }
        
        .separacion {
            margin: 100px;
        }
    }

    .parrafodescription {
        font-size: 2rem;
    }

    .formulario-titulo {
        font-size: 3.8rem;
    }

    .formulario-input {
        font-size: 1.6rem;
    }

    .logos {
        display: flex;
        justify-content: space-around;
    }

    .tarjetas {
        background-color: rgba(255, 255, 255, 0);
        width: 100%;
        display: flex;
        gap: 50px;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;

        .card-perfil {
          background-color: #fff;
          width: 310px;
          padding: 20px;
          border: solid rgba(64, 224, 208, 0) 2px;
          border-radius: 10px;
        }
      
        .image-card {
          width: 200px;
          height: 100px;
          box-shadow: 2px 2px 5px rgb(184, 180, 180);
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
      
        .card-nombre {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
      
        .parrafo-cards {
        font-size: 2rem;
          text-align: center;
          padding: 10px;
          color: gray;
        }
      }

      .tarjetas-term {
        background-color: rgba(255, 255, 255, 0);
        width: 100%;
        display: flex;
        gap: 50px;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        
        .card-perfil-term {
          background-color: #fff;
          width: 310px;
          padding: 20px;
          border: solid rgba(64, 224, 208, 0) 2px;
          border-radius: 10px;
        }
      
        .image-card-term {
          width: 200px;
          height: 100px;
          box-shadow: 2px 2px 5px rgb(184, 180, 180);
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
      
        .card-nombre-term {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
      
        .parrafo-cards-term {
        font-size: 2rem;
          text-align: center;
          padding: 10px;
          color: gray;
        }

        .enlace-term {
            font-size: 1.8rem;
        }
      }
    
    .visitanos {
        font-size: 2rem;
    }

    .whatsapp {
        @include wp(fixed, 40px, 40px, 25px, 25px, 50px);
        background: nth($list: $colores, $n: 3);
        color: nth($list: $colores, $n: 2);
    
        &:hover {
            color: nth($list: $colores, $n: 3);
            background: nth($list: $colores, $n: 2);
        
            @include animacion(scale(1.5));
            transition: all 0.5s;
        }
    }

    .titulopaginas {
        font-size: 3.4rem;
    }

    .titulo-estilos {
        font-size: 3.4rem;
    }

    .pie-links {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }

    .font-pie {
        font-size: 1.6rem;
    }
}