// mobile
@media screen and (max-width: 480px) {
    body {
        background: linear-gradient(to top, rgb(189, 178, 221), #aea9fff6 );
    }

    .parrafo {
        @include paragraph (small-caps, uppercase, 2rem);
        font-family: $fuente-titulos;
    }

    .carousel-fuente {
        font-size: 1rem;
    }

    .padre-imagenes {
        display: flex;
        flex-direction: column;

        .hijos-imagenes {
            margin: 0 auto;
        }

        .separacion {
            margin: 20px;
        }
    }

    .logos {
        display: flex;
        flex-direction: column;
        
        .logo-uno {
            margin: 0 auto;
            padding: 5px;
        }
    }

    .whatsapp {
        @include wp(fixed, 40px, 40px, 25px, 25px, 50px);
        background: nth($list: $colores, $n: 3);
        color: nth($list: $colores, $n: 2);

        &:hover {
            color: nth($list: $colores, $n: 3);
            background: nth($list: $colores, $n: 2);
        }
    }

    .formulario {
        padding: 4rem 1rem;
    }

    .pie-links {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 0px 20px; 
    }

    .separacion-links {
        padding: 20px 0px;
    }
}

// tablet 

@media screen and (min-width:481px) and (max-width:1023px) {
    body {
        background: linear-gradient(to top, rgb(164, 149, 209), #9088fff6 )
        }

    .parrafo {
            @include paragraph (small-caps, uppercase, 2rem);
            font-family: $fuente-titulos;
        }

    .carousel-fuente {
            font-size: 2rem;
        }

    .padre-imagenes {
            display: flex;
            flex-direction: column;

            .hijos-imagenes {
                margin: 0 auto;
            }
        }

    .logos {
            display: flex;
            justify-content: space-around;
        }

    .whatsapp {
            @include wp(fixed, 40px, 40px, 25px, 25px, 50px);
            background: nth($list: $colores, $n: 3);
            color: nth($list: $colores, $n: 2);

            &:hover {
                color: nth($list: $colores, $n: 3);
                background: nth($list: $colores, $n: 2);
            }
    }

    .pie-links {
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
        }
    }

// desktop

@media screen and (min-width: 1024px) {

    body {
        background: linear-gradient(to top, rgb(140, 126, 182), #7c73fff6 );
    }

    .parrafo {
        @include paragraph (small-caps, uppercase, 3rem);
        font-family: $fuente-titulos;
    }

    .carousel-fuente {
        font-size: 1.5rem;
    }

    .padre-imagenes {
        display: flex;
        justify-content: center;

        .hijos-imagenes {
            flex-direction: column;
            padding: 20px;
        }
        
        .separacion {
            margin: 100px;
        }
    }

    .logos {
        display: flex;
        justify-content: space-around;
    }

    .whatsapp {
        @include wp(fixed, 40px, 40px, 25px, 25px, 50px);
        background: nth($list: $colores, $n: 3);
        color: nth($list: $colores, $n: 2);
    
        &:hover {
            color: nth($list: $colores, $n: 3);
            background: nth($list: $colores, $n: 2);
        
            @include animacion(scale(1.5));
            transition: all 0.5s;
        }
    }

    .pie-links {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
}